.swiper-pagination-bullet {
  background-color: black !important; 
  transition: opacity 0.3s ease;
}

.swiper-pagination-bullet-active {
  background-color: #111111 !important; 
  opacity: 1;

}

.swiper-pagination {
  display: flex !important;
    justify-content: center !important;
    margin-bottom: 1.25rem;
}